[flake8]
ignore = E203, E266, W402, W503, F401, F841
max-line-length = 89
max-complexity = 15
select = B,C,E,F,W,T4,B9
format = %(path)s(%(row)d,%(col)d): %(code)s %(text)s: https://lintlyci.github.io/Flake8Rules/rules/%(code)s.html
