name: Publish to PyPI
on:
  push:
    tags:
      - "*"

jobs:
  build-n-publish:
    if: github.event.base_ref == 'refs/heads/master' && startsWith(github.ref, 'refs/tags')
    name: Build and publish package
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
    - name: Set up Python 3.7
      uses: actions/setup-python@main
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade "pip<20"
        pip install -r requirements-dev.txt
    - name: Lint and Test
      run: |
        flake8
        pytest
    - name: Build
      run: |
        pip install setuptools wheel twine
        python setup.py sdist bdist_wheel
    - name: Publish
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.pypi_password }}
